<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">Select room to join</div>
        <div class="panel-body">
            <div *ngIf="rooms && rooms.length > 0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Room name</th>
                        <th>Players</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let room of rooms;let i = index">
                        <td class="col-md-2">{{room.id}}</td>
                        <td class="col-md6">{{room.roomName}}</td>
                        <td class="col-md-2">{{room.players}}</td>
                        <td>
                            <button class='btn btn-default' (click)="connect(i)">Connect</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="!rooms || rooms.length == 0">
                <div class="alert alert-info" role="alert">
                    There is no room created. You can create it <a class="alert-link" [routerLink]="['RoomCreate']">here</a>.
                </div>
            </div>
        </div>
    </div>
</div>