<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">Define yourself</div>
        <div class="panel-body">
            <form>
                <div *ngIf="message != null">
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input id="playerName" type="text" class="form-control" [(ngModel)]="playerName">
                    <label>Password</label>
                    <input id="password" type="password" class="form-control" [(ngModel)]="password">
                </div>
            </form>

            <button (click)="login()" type="button" class="btn btn-primary">Start</button>
        </div>
    </div>
</div>