
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
#screen{
    position:relative;
    background:#129E36;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
