<div class="row center">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="center-block text-center">Score</h6>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-1 text-center">
                    <h5><span class="label label-default">{{gameSnapshot.teamScores[0]}}</span></h5>
                </div>
                <div class="col-xs-2 col-xs-offset-4 text-center">
                    <h5>{{formatTimeLeft()}}</h5>
                </div>
                <div class="col-xs-1 col-xs-offset-4 text-center">
                    <h5><span class="label label-default">{{gameSnapshot.teamScores[1]}}</span></h5>
                </div>
            </div>
        </div>
    </div>
</div>