<div class="col-md-6 col-md-offset-3">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <game-score></game-score>
        </div>
    </div>
    <team-select></team-select>
    <div class="row">
        <div id="playingScreen">
        </div>
    </div>
</div>

