<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">Create new room</div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label>Room name</label>
                    <input id="roomName" type="text" class="form-control" [(ngModel)]="roomName">
                </div>
            </form>

            <button (click)="createRoom()" type="button" class="btn btn-primary">Create</button>
        </div>
    </div>
</div>
