<div *ngIf="playerAssignment != null && playerAssignment.team == team">
    <span class="label" [class.label-default]="team == -1" [class.label-danger]="team == 0" [class.label-info]="team == 1">{{playerAssignment.playerName}}</span>
</div>