<div *ngIf="teamSelectIsVisible" class="modal fade show in danger" id="teamSelect" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Room configuration</h4>
            </div>
            <div class="modal-body center-block text-center">
                <form>
                    <div class="form-group">
                        <label>Match time (minutes):</label>
                        <input type="number" id="matchTime" name="income" value="10" [ngModel]="roomConfiguration.timeLeft" (ngModelChange)="changeMatchTime($event)">
                    </div>
                </form>
                <table class="table text-center">
                    <thead>
                    <tr>
                        <td>Red</td>
                        <td><></td>
                        <td>None</td>
                        <td><></td>
                        <td>Blue</td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let player of roomConfiguration.playerAssignments;let i = index">
                            <td class="col-md-3">
                                <player-assignment [player]="player" team="0"></player-assignment>
                            </td>
                            <td class="col-md-1">
                                <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" (click)="changeTeam(player,0)">
                                    <span class="glyphicon"
                                          [class.glyphicon-menu-right]="player.team == 0"
                                          [class.glyphicon-menu-left]="player.team == -1" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td class="col-md-3">
                                <player-assignment [player]="player" team="-1"></player-assignment>
                            </td>
                            <td class="col-md-1">
                                <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" (click)="changeTeam(player,1)">
                                    <span class="glyphicon"
                                          [class.glyphicon-menu-right]="player.team == -1"
                                          [class.glyphicon-menu-left]="player.team == 1" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td class="col-md-3">
                                <player-assignment [player]="player" team="1"></player-assignment>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button *ngIf="startMatchAvailable()" type="button" class="btn btn-primary" (click)="startMatch()">Start match</button>
                <button type="button" class="btn btn-default" (click)="close()">Close</button>
            </div>
        </div>
    </div>
</div>